<script type="text/javascript">
$(function() {
  var labelValues = [];
  var seriesData = [];
  var numArray = [0];
  var num = 1;
  <% @user.links.each do | link | %>
    labelValues.push("<%= link.redirect %>");
    seriesData.push("<%= link.count %>");
    numArray.push(num);
    num = num + 1;
  <% end %>
  numArray.push(num);
  var data = {
      labels: labelValues,
      series: [seriesData]
  };

  var options = {
    seriesBarDistance: 15,
    axisY: {
            type: Chartist.FixedScaleAxis,
            ticks: numArray,
            low: 0
    }
  };

  var responsiveOptions = [
    ['screen and (min-width: 641px) and (max-width: 1024px)', {
      seriesBarDistance: 10,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value;
        }
      }
    }],
    ['screen and (max-width: 640px)', {
      seriesBarDistance: 5,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value[0];
        }
      }
    }]
  ];

  new Chartist.Bar('.chart', data, options, responsiveOptions);
});
</script>
<div class="page-header">
  <ul class="list-inline">
  <li><h1><%= @user.name %>'s Account</h1></li>
    <li>
      <%= form_tag("/users/#{@user.id}/edit", method: 'get') do  %>
        <%= submit_tag "Edit My Account", class: 'btn btn-info btn-lg'%>
      <% end %>
    </li>
    <li>
      <%= form_tag("/users/#{@user.id}", method: 'delete') do  %>
        <%= submit_tag "Delete My Account", class: 'btn btn-danger btn-lg'%>
      <% end %>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-12">

    <p class="lead">
      <strong>Name:</strong> <%= @user.name %>
    </p>

    <p class="lead">
      <strong>Username:</strong> <%= @user.username %>
    </p>

    <p class="lead">
      <strong>Email Address:</strong> <%= @user.email %>
    </p>

  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Link To</th>
          <th>Zink Link</th>
          <th>Number of Uses</th>
          <th>Time of Last Use</th>
        </tr>
      </thead>
    <% @user.links.each do | link | %>
      <tbody>
        <tr>
          <td><%= link.redirect %></td>
          <td>localhost:3000/z/<%= link.uuid %></td>
          <td><%= link.count %></td>
          <td><%= link.last %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
<h3>Hits Per Zink Link</h3>
<div class="chart ct-major-twelfth">

</div>
